.root {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
