.root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color-main);
}

.title {
    font-size: var(--text-size-title);
}

.caption {
    font-size: var(--text-size-caption);
}

.body {
    font-size: var(--text-size-body);
}

.secondary {
    font-size: var(--text-size-secondary);
    color: var(--text-color-secondary);
}

.tiny {
    font-size: var(--text-size-tiny);
    color: var(--text-color-tiny);
}

.uppercase {
    text-transform: uppercase;
}

.ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.color_contrast {
    color: var(--text-color-contrast);
}

.color_brand {
    color: var(--color-brand);
}

.withIcon {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0 0.5rem;
}

.isItalic {
    font-style: italic;
}
