.root {
    background-color: var(--background-main);
    height: 100%;
    box-shadow: 2px 0 4px var(--shadow-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: fit-content;
    width: 100%;
}
