.root {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Первая и третья колонки по 25%, вторая занимает оставшееся пространство */
    gap: 16px; /* Промежуток между колонками, можно настроить по желанию */
}
