.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.link {
    color: #0e70c0;
}

.json {
    text-wrap: wrap;
    white-space: pre;
    font-family: monospace;
}

.modalContent {
    max-width: 800px;
    overflow: auto;
    padding: 8px;
}
