.root {
    width: fit-content;
    background-color: var(--background-main);
    border: 2px solid var(--main-border-color);
    min-height: 100%;
    padding: 2px;
    background-image: url('assets/dots_theme_light.svg');
    background-position-x: 1px;
    background-position-y: 2px;
    background-size: 16px;
}

.content {
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

/* Стили для темной темы */
.theme_dark {
    background-image: url('assets/dots_theme_dark.svg');
}
